/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CORES */
:root {
  --black: #0b0b0b;
  --dark: #141414;
  --gold: #d4af37;
  --white: #ffffff;
}

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--black);
  color: var(--white);
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: var(--dark);
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.navbar .btn {
  background: var(--gold);
  color: black;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero span {
  color: var(--gold);
}

.hero p {
  margin-bottom: 30px;
  color: #ccc;
}

.btn-primary {
  background: var(--gold);
  color: black;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

/* FEATURES */
.features {
  padding: 80px 60px;
  text-align: center;
}

.features h2 {
  margin-bottom: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: var(--dark);
  padding: 30px;
  border-radius: 12px;
  width: 280px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  border: 1px solid var(--gold);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 30px;
  background: #111;
  margin-top: 60px;
}
